<!-- basic scripts -->
<!--[if !IE]> -->
<script src="__TPADMIN_ASSETS__/plugins/ace/js/jquery-2.1.4.min.js"></script>
<!-- <![endif]-->

<!--[if IE]>
    <script src="__TPADMIN_ASSETS__/plugins/ace/js/jquery-1.11.3.min.js"></script>
<![endif]-->
<script type="text/javascript">
    if('ontouchstart' in document.documentElement) document.write("<script src='__TPADMIN_ASSETS__/plugins/ace/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
</script>
<script src="__TPADMIN_ASSETS__/plugins/ace/js/bootstrap.min.js"></script>
<!-- page specific plugin scripts -->
<!--[if lte IE 8]>
<script src="__TPADMIN_ASSETS__/plugins/ace/js/excanvas.min.js"></script>
<![endif]-->
<!-- ace scripts -->