<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta charset="utf-8" />
<title>Tpadmin - 基于ThinkPHP5.1+和Ace Admin的快速后台开发框架</title>
<meta name="keywords" content="Tpadmin,ThinkPHP5.1,TP5.1">
<meta name="description" content="基于ThinkPHP5.1+和Ace Admin的快速后台开发框架">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

<!-- bootstrap & fontawesome -->
<link rel="stylesheet" href="__TPADMIN_ASSETS__/plugins/ace/css/bootstrap.min.css" />
<link rel="stylesheet" href="__TPADMIN_ASSETS__/plugins/font-awesome/4.5.0/css/font-awesome.min.css" />

<!-- page specific plugin styles -->

<!-- text fonts -->
<link rel="stylesheet" href="__TPADMIN_ASSETS__/plugins/ace/css/fonts.googleapis.com.css" />

<!-- ace styles -->
<link rel="stylesheet" href="__TPADMIN_ASSETS__/plugins/ace/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />

<!--[if lte IE 9]>
<link rel="stylesheet" href="__TPADMIN_ASSETS__/plugins/ace/css/ace-part2.min.css" class="ace-main-stylesheet" />
<![endif]-->
<link rel="stylesheet" href="__TPADMIN_ASSETS__/plugins/ace/css/ace-skins.min.css" />
<link rel="stylesheet" href="__TPADMIN_ASSETS__/plugins/ace/css/ace-rtl.min.css" />

<!--[if lte IE 9]>
  <link rel="stylesheet" href="__TPADMIN_ASSETS__/plugins/ace/css/ace-ie.min.css" />
<![endif]-->

<link rel="stylesheet" href="__TPADMIN_ASSETS__/admin/css/custom.css" />

<!-- inline styles related to this page -->

<!-- ace settings handler -->
<script src="__TPADMIN_ASSETS__/plugins/ace/js/ace-extra.min.js"></script>

<!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

<!--[if lte IE 8]>
<script src="__TPADMIN_ASSETS__/plugins/ace/js/html5shiv.min.js"></script>
<script src="__TPADMIN_ASSETS__/plugins/ace/js/respond.min.js"></script>
<![endif]-->
<link rel="shortcut icon" type="image/x-icon" href="__TPADMIN_ASSETS__/img/favicon.png" />