<div class="card ">
    <div class="card-body">
        <a href="{:url('[topic.create]')}" class="btn btn-success btn-block" aria-label="Left Align">
            <i class="fas fa-pencil-alt mr-2"></i>  新建话题
        </a>
    </div>
</div>

{notempty name='active_users'}
    <div class="card mt-4">
        <div class="card-body active-users pt-2">
            <div class="text-center mt-1 mb-0 text-muted">活跃用户</div>
            <hr class="mt-2">
            {volist name='active_users' id='user'}
                <a class="media mt-2" href="{:url('[user.read]', ['id' => $user->id])}">
                    <div class="media-left media-middle mr-2 ml-1">
                        <img src="{$user.avatar_path}" width="24px" height="24px" class="media-object">
                    </div>
                    <div class="media-body">
                        <small class="media-heading text-secondary">{$user->name}</small>
                    </div>
                </a>
            {/volist}
        </div>
    </div>
{/notempty}

{notempty name='links'}
    <div class="card mt-4">
        <div class="card-body pt-2">
            <div class="text-center mt-1 mb-0 text-muted">资源推荐</div>
            <hr class="mt-2 mb-3">
            {volist name='links' id='link'}
                <a class="media mt-1" href="{$link->url}" target="_blank">
                    <div class="media-body">
                        <span class="media-heading text-muted">{$link->title}</span>
                    </div>
                </a>
            {/volist}
        </div>
    </div>
{/notempty}
