{extend name="layout/main" /}
{block name="content"}
<div class="container">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">

            <div class="panel-heading">
                <h1>
                    <i class="glyphicon glyphicon-edit"></i>
                    新建话题
                </h1>
            </div>

            <div class="panel-body">
                <form id='model-form' action="{:url('[topic.save]')}" method="POST" accept-charset="UTF-8">
                    <div class="form-group">
                        <input class="form-control" type="text" name="title" id="title-field" value="" placeholder="请填写标题" required/>
                    </div>
                    <div class="form-group">
                        <select class="form-control" name="category_id" required>
                            <option value="" hidden disabled selected>请选择分类</option>
                            {volist name='categories' id='category'}
                                <option value="{$category->id}">{$category->name}</option>
                            {/volist}
                        </select>
                    </div>
                    <div class="form-group">
                        <textarea name="body" id="body-field" class="form-control" rows="3"></textarea>
                    </div>
                    <div class="well well-sm">
                        <button type="submit" class="btn btn-primary">保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="scripts"}
<script src="/static/assets/plugins/jquery-validate/jquery.validate.min.js"></script>
<script src="/static/assets/plugins/jquery-validate/bootstrap.validate.js"></script>
<script type="text/javascript">
    jQuery(function($){
        validAndSubmitForm(
            "form#model-form",
            {
                "title":{
                    required: true,
                    rangelength: [3, 50]
                }, "category_id":{
                    required: true,
                    min: 1
                }, "body":{
                    required: true,
                    minlength: 3
                }
            }, {
                "title":{
                    required: "标题不能为空",
                    rangelength: "标题长度必须在3-50个字符之间"
                }, "category_id":{
                    required: "分类不能为空",
                    min: "分类不能为空"
                }, "body":{
                    required: "正文不能为空",
                    minlength: "正文至少包含3个字符"
                }
            }
        );
    });
</script>
{/block}