{extend name="layout:base" /}
{block name="main_content"}
<?php if (isset($link['id'])): ?>
<form class="form-horizontal adminform" id="model-form" method="post" action="{:url('[admin.link.edit]', ['id' => $link.id])}">
<input type="hidden" name="_method" value="PUT">
<?php else: ?>
<form class="form-horizontal adminform" id="model-form" method="post" action="{:url('[admin.link.save]')}">
  <?php endif; ?>
  <div class="form-group">
    <label class="col-sm-2 control-label no-padding-right" for="form-field-1">
      标题：<span class="red">*</span>
    </label>
    <div class="col-sm-10">
      <input type="text" name="title" placeholder="例：ThinkPHP官网" class="col-xs-10 col-sm-5" value="{$link.title|default=''}" required/>
    </div>
  </div>
  <div class="space-4"></div>

  <div class="form-group">
    <label class="col-sm-2 control-label no-padding-right" for="form-field-1">
      URL：<span class="red">*</span>
    </label>
    <div class="col-sm-10">
      <input type="text" name="url" placeholder="例：http://www.thinkphp.cn" class="col-xs-10 col-sm-5" value="{$link.url|default=''}" required/>
    </div>
  </div>
  <div class="space-4"></div>

  <div class="clearfix form-actions">
    <div class="col-md-offset-3 col-md-9">
      <button class="btn btn-info" type="submit">
        <i class="ace-icon fa fa-check bigger-110"></i>保存
      </button>

      &nbsp; &nbsp; &nbsp;
      <button class="btn" type="reset">
        <i class="ace-icon fa fa-undo bigger-110"></i>重置
      </button>
    </div>
  </div>
</form>
{/block}
{block name="page_js"}
<script src="/static/assets/plugins/jquery-validate/jquery.validate.min.js"></script>
<script type="text/javascript">
  jQuery(function($){
    validAndSubmitForm(
      "form#model-form",
      {
        "title":{
          required: true,
          minlength: 3,
          maxlength: 50
        }, "url":{
          required: true,
          maxlength: 100,
          url: true
        }
      },{
        "title":{
          required: "标题不能为空",
          minlength: "标题不能少于3个字符",
          maxlength: "标题不能超过50个字符"
        }, "url":{
          required: "资源链接不能为空",
          maxlength: "资源链接不能超过100个字符",
          url: "资源链接必须是URL"
        }
      }
      );
  });
</script>
{/block}
