{extend name="layout/main" /}
{block name="content"}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">用户注册</div>

        <div class="card-body">
          <form id="model-form" class="needs-validation" novalidate method="POST" action="{:url('save')}">
            <div class="form-group row">
              <label for="name" class="col-md-4 col-form-label text-md-right">用户名</label>

              <div class="col-md-6">
                <input id="name" type="text" class="form-control" name="name" required autofocus>
              </div>
            </div>

            <div class="form-group row">
              <label for="mobile" class="col-md-4 col-form-label text-md-right">手机号码</label>

              <div class="col-md-6">
                <input id="mobile" type="mobile" class="form-control" name="mobile" required autocomplete="off">
              </div>
            </div>

            <div class="form-group row">
              <label for="password" class="col-md-4 col-form-label text-md-right">登录密码</label>

              <div class="col-md-6">
                <input id="password" type="password" class="form-control" name="password" required>
              </div>
            </div>

            <div class="form-group row">
              <label for="password-confirm" class="col-md-4 col-form-label text-md-right">重复密码</label>

              <div class="col-md-6">
                <input id="password-confirm" type="password" class="form-control" name="password_confirmation" required>
              </div>
            </div>

            <div class="form-group row mb-0">
              <div class="col-md-6 offset-md-4">
                <button type="submit" class="btn btn-primary">
                  注册 <i class="glyphicon glyphicon-arrow-right"></i>
                </button>
                <a class="btn btn-link" href="#">
                  账号登录
                </a>
                <a class="btn btn-link" href="#">
                  忘记密码
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{/block}
