{if($topic_paginate->count())}
    <ul class="list-group mt-4 border-0">
        {volist name="$topic_paginate->all()" id="topic"}
            <li class="list-group-item pl-2 pr-2 border-right-0 border-left-0 <? if($key==0){ echo('border-top-0'); } ?>">
                <a href="#">
                    {$topic->title}
                </a>
                <span class="meta float-right text-secondary">
                    {$topic->reply_count} 回复
                <span> ⋅ </span>
                    {$topic->create_time}
                </span>
            </li>
        {/volist}
    </ul>

    <!-- 分页 -->
    <div class="mt-4 pt-1">
        <?php echo($topic_paginate->render()); ?>
    </div>
{else /}
    <div class="empty-block">暂无数据 ~_~ </div>
{/if}